extends layout

block content
  h1= 'genre name : '+genre.name

  
  form(method = 'POST' , action="")
    div.form-group 
      input(type="hidden" , name='genreid' , value=genre._id)
    button.btn.btn-primary(type='submit') Delete

  
